body { 
    width: 800px; text-align: left; margin-left: auto; margin-right: auto; 
}
    
h1{
    background-color: lightskyblue; 
}
h2{
    background-color: rgb(255, 252, 221)
}
h3{
    font-size: 24px;
}
ul{
    background-color: lightskyblue; 
}
.uenolink{
    font-size: 20px;
    text-decoration:none;
}
.uenolink:link { /*アクセスしたことのないリンク*/
    color:#0000FF;
}

.uenolink:visited { /*アクセスしたことのあるリンク*/
    color:#6600FF;
}

.uenolink:hover {/*マウスが上に乗っている状態*/
    color:#FF0099;
    text-decoration:underline;
}

.uenolink:active {/*クリック中*/
    color:#33CC00;
}

img.verticalcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section {
    /* ---　記事の背景色 --- */
    background: lightskyblue;
    border: 1px solid #ddd;
    margin: 20px auto;
    box-shadow: 0 1px 0 #fff inset;
    width: 100%;
      /* pxで書くと固定だけど、%でかけば、端末ごとにちょうどいいサイズで開ける */
    padding: 20px 20px 10px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    font-size: 18px;
}

table { 
    width: 100%;
    font-size:17px;

}

table tr { 
    background-color: lightgray; 
}

table th { 
    padding: 0.5em; 
    background-color: darkgray; 
}

table td { 
    padding: 0.5em; 
    vertical-align: top; 
}

